@{
    Layout = "~/_Layout.cshtml";
    Page.Title = "Radio Buttons";
    //obtain the incoming data values
    var language = Request.Form["languagegroup"];
    var script = Request.Form["scriptgroup"];
    if (language == null)
    {
        language = "";
    }
    if (script == null)
    {
        script = "";
    }
}
@section head{

}
@section banner{
    <h1>RadioButtons</h1>
}

@if (IsPost)
{
    //adding validation
    if (language.IsEmpty() || script.IsEmpty())
    {
        <p><span style="color:firebrick"> Make a selection from both coding and scripting</span></p>
    }
    else
    {
        //validation has been passed, will now process request
        if (language.Equals("C#", StringComparison.OrdinalIgnoreCase))// another option for validating a string without converting to upper or lower. Compares the binary values
        {
            <p>You will greatly enjoy the CPSC1517 course as we use C#</p>
        }
        else
        {
            <p>Too bad. The CPSC1517 course uses C#</p>
        }
        if (script.Equals("RAZOR", StringComparison.OrdinalIgnoreCase))
        {
            <p>You will greatly enjoy the CPSC1517 course as we use Razor</p>
        }
        else
        {
            <p>Too bad. The CPSC1517 course uses Razor</p>           
        }
    }
}

<!-- What makes a radio button group is the fact that the ID = parameter is
    the same on each control, if you wish multiple radiobutton groups on your
    form, then each group gets a unique id-->
<form id="form" method="post">
    <div class="row">
        <div class="col-md-offset-2">
            <label id="languagegroup">
                Select your Favorite Programming Language
            </label>
            <br />
            <input type="radio" id="languagegroup" name="languagegroup"
                   value="C#" checked="@(language.Equals("C#")?true:false)" />C#<br />
            <input type="radio" id="languagegroup" name="languagegroup"
                   value="Java" checked="@(language.Equals("Java")?true:false)"/>Java<br />
            <input type="radio" id="languagegroup" name="languagegroup"
                   value="Kotlin" checked="@(language.Equals("Kotlin")?true:false)"/>Kotlin<br />
            <input type="radio" id="languagegroup" name="languagegroup"
                   value="Swift" checked="@(language.Equals("Swift")?true:false)"/>Swift<br />
            <input type="radio" id="languagegroup" name="languagegroup"
                   value="C" checked="@(language.Equals("C")?true:false)"/>C<br />
            <input type="radio" id="languagegroup" name="languagegroup"
                   value="C++" checked="@(language.Equals("C++")?true:false)" />C++<br />
            <br />
            <label id="scriptgroup">Select your Favorite scripting code</label>
            <br />
            <input type="radio" id="scriptgroup" name="scriptgroup"
                   value="JavaScript" checked="@(script.Equals("JavaScript")?true:false)"/>JavaScript<br />
            <input type="radio" id="scriptgroup" name="scriptgroup"
                   value="Razor" checked="@(script.Equals("Razor")?true:false)" />Razor<br />
            <input type="radio" id="scriptgroup" name="scriptgroup"
                   value="PHP" checked="@(script.Equals("PHP")?true:false)"/>PhP<br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3">
            <button type="submit" class="btn btn-primary" id="formbutton"
                    name="formbutton" value="submit">
                Submit
            </button>
        </div>
    </div>
</form>
